.partitioned-poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.choice-buttons {
    margin-bottom: 20px;
}

.center-viz {
    display: grid;
    width: 1000px;
    /* min-width: 1100px; */
    height: 90vh;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 60% 20% 20%;
    grid-template-areas: "left-area heatmap-area covid-area"
                         "left-area chart-area chart-area"
                         "control-area timeline-area empty-area";
}

.left {
    grid-area: left-area;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
    height: 100%;
    padding-right: 20px;
}

.heatmap {
    grid-area: heatmap-area;
    /* background-color: blue; */
}

.covid-stats {
    grid-area: covid-area;
    padding-left: 20px;
    /* background-color: green; */
}

.chart {
    grid-area: chart-area;
    background-color: white;
}

.timeline {
    grid-area: timeline-area;
    /* background-color: lightpink; */
}

.controls {
    grid-area: control-area;
    /* background-color: lightblue; */
}




/* <app-story-description [posterDataObj]="posterDataObj" class="description"></app-story-description>
<app-heatmap [posterDataObj]="posterDataObj" class="heatmap"></app-heatmap>
<app-covid-stats [posterDataObj]="posterDataObj" class="covid-stats"></app-covid-stats>
<app-events [posterDataObj]="posterDataObj" class="events"></app-events>
<app-chart [posterDataObj]="posterDataObj" class="chart"></app-chart>
<app-timeline [posterDataObj]="posterDataObj" class="timeiines"></app-timeline>
<app-controls [posterDataObj]="posterDataObj" class="controls"></app-controls> */